<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Todo</title>
    <link rel="stylesheet" href="css/base.css">
    <script data-main="js/main" src="../../lib/require/require.js"></script>
    <!--[if IE]>
    <script src="js/ie.js"></script>
    <![endif]-->
</head>
<body>
<a href="https://github.com/modulejs/modulejs"><img
        style="position: absolute; top: 0; right: 30px; border: 0;z-index:100;"
        src="https://raw.github.com/jamesflorentino/fork-ribbons/master/ribbons/blue-white.png" alt="Fork me on GitHub"></a>
<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
    </section>
    <footer id="footer">
        <span id="todo-count"><strong>0</strong> item left</span>
        <button id="clear-completed">Clear completed</button>
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>

    <p>Created by <a href="http://github.com/modulejs/modulejs">modulejs</a></p>

    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script id="todo-template" type="text/x-template">
    <% $.each( todos, function(i, item){ %>
    <li
    <%= item.completed ? 'class="completed"' : '' %> data-id="<%- item.id %>">
    <div class="view">
        <input class="toggle" type="checkbox" <%= item.completed ? 'checked' : '' %> >
        <label><%- item.title %></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- item.title %>">
    </li>
    <% }); %>
</script>
<script id="footer-template" type="text/x-template">
    <span id="todo-count"><strong><%= activeTodoCount %></strong> <%= activeTodoWord %> left</span>
    <% if ( completedTodos ) { %>
    <button id="clear-completed">Clear completed (<%= completedTodos %>)</button>
    <% } %>
</script>
</body>
</html>
