@import "normalize.css";
@import "animation.css";
@import "icon.css";

@import "index.css";
@import "circle-menu.css";
@import "circle-menu-items.css";
@import "navbar.css";
@import "side-menu.css";



body {
    background-color: #574B41
}

input {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0
}


#main {
    border-radius: 3px;
    background-color: #F5F0EB;
}

.logo {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Gabriela', serif;
}

.composited {
    -webkit-transform: translate3d(0, 0, 0)
}

.body {
    position: relative;
    z-index: 0
}

.inner, .body {
    width: 100%;
    height: 100%
}

.sized {
    position: relative
}

.sized>.body, .sized>.inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

body.webkit .stretched {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column
}

body.webkit .stretched>.inner, body.webkit .stretched>.body {
    -webkit-box-flex: 1;
    -ms-flex: 1
}

body.ie .stretched>.inner, body.ie .stretched>.body {
    height: 100%;
    min-height: inherit
}

.layout-card {
    position: relative;
    overflow: hidden
}

.layout-card>.layout-card-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.layout-card.mode-display>.layout-card-item:not(.active) {
    display: none !important
}

.layout-card.mode-offset>.layout-card-item {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0)
}

.layout-card.mode-offset>.layout-card-item:not(.active) {
    transform: translate3d(200%, 200%, 0) !important;
    -webkit-transform: translate3d(200%, 200%, 0) !important
}

.layout-card.mode-visibility>.layout-card-item:not(.active) {
    visibility: hidden !important
}


.center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center
}

.center.top {
    bottom: auto;
    -webkit-box-align: start;
    -ms-flex-align: start
}

.center.right {
    left: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end
}

.center.bottom {
    top: auto;
    -webkit-box-align: end;
    -ms-flex-align: end
}

.center.left {
    right: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start
}

.center>* {
    position: relative
}

.floating {
    position: absolute !important
}

.invisible {
    visibility: hidden;
    pointer-events: none
}

body.ie .invisible {
    display: none
}

.dock {
    display: -webkit-box;
    display: -ms-flexbox
}

.dock.sized, .dock.sized>.dock-body>*, .dock.sized>.dock-body>.body>.inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.dock.sized>.dock-body {
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border-top: 1px solid #322B26;
}

.dock.dock-vertical {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column
}

.dock.dock-horizontal {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row
}

.dock.dock-horizontal>.dock-item {
    display: -webkit-box;
    display: -ms-flexbox
}

.dock.dock-horizontal>.dock-item.sized>.inner, .dock.dock-horizontal>.dock-item.sized>.body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

body.webkit .dock>.dock-body {
    overflow: hidden
}

body.webkit .dock.unsized, body.webkit .dock.stretched {
    height: 100%
}

body.webkit .dock.unsized>.dock-body, body.webkit .dock.stretched>.dock-body {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column
}

body.webkit .dock.unsized>.dock-body>*, body.webkit .dock.stretched>.dock-body>* {
    -webkit-box-flex: 1;
    -ms-flex: 1
}

body.webkit .dock.dock-horizontal>.dock-item.unsized {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column
}

body.webkit .dock.dock-horizontal>.dock-item.unsized>* {
    -webkit-box-flex: 1;
    -ms-flex: 1
}

body.ie .dock.unsized>.dock-body>* {
    height: 100%
}


.layout-float>.layout-float-item {
    float: left
}

.layout-float.direction-right>.layout-float-item {
    float: right
}

.table-inner {
    display: table !important;
    width: 100% !important;
    height: 100% !important
}

.table-inner.fixed-layout {
    table-layout: fixed !important
}

.table-row {
    display: table-row !important
}

.table-cell {
    display: table-cell !important;
    vertical-align: middle
}

.size-monitored {
    position: relative
}

.size-monitor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden
}

.size-monitor>.shrink, .size-monitor>.expand {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.size-monitor.scroll>.shrink::after {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    min-width: 1px;
    min-height: 1px
}

.size-monitor.scroll>.expand::after {
    content: "";
    display: block;
    width: 100000px;
    height: 100000px
}

.size-monitor.overflowchanged>.shrink>.shrink-helper {
    width: 100%;
    height: 100%
}

.size-monitor.overflowchanged>.expand>.expand-helper {
    width: 200%;
    height: 200%
}



.translatable {
    position: absolute !important;
    top: 100% !important;
    left: 100% !important;
    overflow: visible !important;
    z-index: 1
}

.translatable::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    visibility: hidden
}

.translatable-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.translatable-container::before {
    content: "";
    display: block;
    width: 300%;
    height: 300%;
    visibility: hidden
}


.button {
    cursor: pointer;
    display: inline-block
}

.button>.label:not(.active), .button>.icon:not(.active) {
    display: none
}

.button>.icon.align-right {
    float: right
}

.button.layout-box-item {
    display: block
}

.tab {
    cursor: pointer
}

.tab .icon, .tab .label {
    display: block
}

.slider {
    height: 2em;
    background-color: #c8c8c8
}

.slider-inner {
    position: relative
}

.slider-thumb {
    cursor: pointer;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 2em;
    width: 2em;
    border: 1px solid purple
}

.slider-thumb.dragging {
    background-color: #ffa500
}

.list-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.image {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0
}

.image.loading {
    background-image: none !important
}


.inlines-item {
    display: inline
}

.inline {
    display: inline
}



.list .refresh-indicator {
    line-height: 50px;
    height: 50px;
    padding-left: 30px
}

.list .refresh-indicator .text {
    font-weight: bold;
    color: #365181;
    font-size: .9em;
    display: inline-block
}

.list .refresh-indicator .icon {
    height: 50px;
    width: 40px;
    position: relative;
    top: 4px;
    display: inline-block;
    text-align: center
}

.list .refresh-indicator .icon:before {
    font-family: 'fc';
    font-size: 20px;
    color: #365181
}

.list .refresh-indicator.pull .icon::before {
    content: "\21"
}

.list .refresh-indicator.release .icon::before {
    content: "\22"
}

.list .refresh-indicator.updating .icon::before {
    content: "\28"
}

.list .loading-indicator {
    width: 64px;
    height: 64px
}

.list .loading-indicator::after {
    font-family: 'fc';
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    content: '\23';
    color: #49639c
}

.list .next-indicator {
    height: 50px;
    color: #49639c;
    font-weight: bold;
    text-align: center
}

.list .next-indicator::before {
    font-family: 'fc';
    font-size: 26px;
    content: '\2f';
    position: relative;
    top: 8px
}

.list .next-indicator::after {
    font-size: .925em;
    padding-left: 5px;
    content: 'loading more...'
}

.loading-mask {
    background-color: #FFF;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0)
}

.loading-mask .indicator {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    color: #49639c
}

.loading-mask .indicator::after {
    font-family: 'fc';
    display: inline-block;
    content: '\23'
}



.story-container {
    background-color: #bfc7d8
}

.video {
    position: relative
}

.video.loading .video-poster::after {
    content: "\26"
}

.video-element {
    width: 100%;
    height: 100%
}

body.tablet .story {
    font-size: 120%
}


@media (-webkit-min-device-pixel-ratio:2) {
    .main-nav-bar {
        background-color: transparent;
        background-image: linear-gradient(#738aba, #2c4987);
        background-image: -webkit-linear-gradient(#738aba, #2c4987)
    }

    .main-nav-bar .corner-button {
        background-color: transparent;
        background-image: linear-gradient(#647aab, #2d497e);
        border-width: 1px;
        border-style: solid;
        border-color: #2a3349 #2a3a64 #253662;
        text-shadow: 0 -1px 1px #445b8d;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(#647aab, #2d497e)
    }

    .main-nav-bar .corner-button>.icon::after {
        font-size: 24px
    }

    .main-nav-bar .corner-button.pressed {
        background: linear-gradient(#4d628f, #203358);
        background: -webkit-linear-gradient(#4d628f, #203358)
    }

    .main-nav-bar .corner-button.back {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 17px;
        padding-left: 1px;
        position: relative
    }

    .main-nav-bar .corner-button.back::before, .main-nav-bar .corner-button.back::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        mask-box-image: url(../images/back-button-arrow.png);
        -webkit-mask-box-image: url(../images/back-button-arrow.png)
    }

    .main-nav-bar .corner-button.back::before {
        width: 14px;
        border-top: 2px solid transparent;
        left: -14px;
        top: -1px;
        background-color: #22325b
    }

    .main-nav-bar .corner-button.back::after {
        width: 13px;
        left: -13px;
        top: 0;
        background-image: linear-gradient(#647aab, #2d497e);
        background-image: -webkit-linear-gradient(#647aab, #2d497e)
    }

    .main-nav-bar .corner-button.back.pressed::after {
        background-image: linear-gradient(#4d628f, #203358);
        background-image: -webkit-linear-gradient(#4d628f, #203358)
    }

    .main-nav-bar .center-button::before {
        content: "";
        opacity: .0001;
        display: block;
        position: absolute;
        left: -20%;
        top: -20%;
        width: 140%;
        height: 140%;
        background-image: radial-gradient(center, circle, #fff 0, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 70%);
        background-image: -webkit-radial-gradient(center, circle, #fff 0, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 70%)
    }

    .main-nav-bar .center-button.pressed::before {
        opacity: .999
    }

    .list .refresh-indicator .text {
        text-shadow: 0 1px 1px #FFF
    }

    .list .refresh-indicator .icon:before {
        text-shadow: 0 -1px 1px #fff
    }

    .list .refresh-indicator .next-indicator {
        text-shadow: 0 1px 1px #FFF
    }

    .story .frame {
        border: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3)
    }

    .story .actions {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px
    }

    .story .attached-photo, .story .attached-video, .story .attached-album-image {
        border: 0;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2)
    }

    .video-poster::after {
        text-shadow: 1px 1px 1px #333
    }

    .wall-profile .profile-picture {
        outline: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3)
    }

    .overlay {
        background-color: transparent;
        background-image: linear-gradient(#575e6b, #404552 15px, #151924 36px, #151924 100%);
        border-radius: 8px;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
        background-image: -webkit-linear-gradient(#575e6b, #404552 15px, #151924 36px, #151924 100%);
        -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5)
    }

    .overlay-title {
        text-shadow: 1px 1px 1px #22252c
    }

    .overlay-tip.top::after {
        color: #565d6a
    }

    .main-content, .main-nav-bar {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px
    }
}


.image.loading {
    background-image: none !important
}

.button {
    padding: .3em .6em;
    font-weight: bold
}

