@import "normalize.css";
@import "animation.css";
@import "dock.css";
@import "layout.css";
@import "layout-card.css";
@import "icon.css";

@import "index.css";
@import "circle-menu.css";
@import "circle-menu-items.css";
@import "navbar.css";
@import "side-menu.css";

@import "path.css";



.body {
    position: relative;
    z-index: 0
}

.inner, .body {
    width: 100%;
    height: 100%
}

.sized {
    position: relative
}

.sized>.body, .sized>.inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.invisible {
    visibility: hidden;
    pointer-events: none
}

.inlines-item {
    display: inline
}







