
.scroll-view {
    position: relative;
    display: block
}

.scroll-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.scroll-scroller {
    position: absolute !important;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto !important;
    height: auto !important
}

.scroll-stretcher {
    position: absolute;
    visibility: hidden
}

.scroll-bar-grid-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.scroll-bar-grid {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.scroll-bar-grid>* {
    display: table-row
}

.scroll-bar-grid>*>* {
    display: table-cell
}

.scroll-bar-grid>:first-child>:first-child {
    width: 100%;
    height: 100%
}

.scroll-bar-grid>:first-child>:nth-child(2) {
    padding: 3px 3px 0 0
}

.scroll-bar-grid>:nth-child(2)>:first-child {
    padding: 0 0 3px 3px
}

.scroll-bar {
    position: relative;
    overflow: hidden
}

.scroll-bar.x {
    width: 100%
}

.scroll-bar.x>.scroll-bar-stretcher {
    width: 300%
}

.scroll-bar.x.active {
    height: 6px
}

.scroll-bar.y {
    height: 100%
}

.scroll-bar.y>.scroll-bar-stretcher {
    height: 300%
}

.scroll-bar.y.active {
    width: 6px
}

.scroll-indicator {
    background: #333;
    position: absolute;
    z-index: 2;
    opacity: .7;
    left: 0;
    top: 0
}

.scroll-indicator.default {
    border-radius: 3px
}

.scroll-indicator.x {
    height: 100%
}

.scroll-indicator.y {
    width: 100%
}

.scroll-indicator.scrollposition.x {
    top: 0
}

.scroll-indicator.scrollposition.y {
    left: 0
}

.scroll-indicator.csstransform {
    background: 0
}

.scroll-indicator.csstransform>* {
    position: absolute;
    background-color: #333
}

.scroll-indicator.csstransform>:nth-child(2) {
    transform-origin: 0 0;
    background: 0;
    content: url(data:image/bmp;base64,Qk08AAAAAAAAADYAAAAoAAAAAQAAAAEAAAABABAAAAAAAAYAAAASCwAAEgsAAAAAAAAAAAAAxhgAAAAA);
    -webkit-transform-origin: 0 0
}

.scroll-indicator.csstransform.x>* {
    height: 100%
}

.scroll-indicator.csstransform.x>:first-child {
    width: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.scroll-indicator.csstransform.x>:nth-child(2) {
    width: 1px
}

.scroll-indicator.csstransform.x>:last-child {
    width: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.scroll-indicator.csstransform.y>* {
    width: 100%
}

.scroll-indicator.csstransform.y>:first-child {
    height: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.scroll-indicator.csstransform.y>:nth-child(2) {
    height: 1px
}

.scroll-indicator.csstransform.y>:last-child {
    height: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}